<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87150344511-t5208e97gtr826mn6knt05g4eq2vivh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87150344511-t5208e97gtr826mn6knt05g4eq2vivh5</string>
	<key>API_KEY</key>
	<string>AIzaSyDaq5eSH_g79rVscDYZXNCv51mTivwjk6E</string>
	<key>GCM_SENDER_ID</key>
	<string>87150344511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ucphszf.music.cloudMusic</string>
	<key>PROJECT_ID</key>
	<string>myfirebase-b263d</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirebase-b263d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87150344511:ios:a5c2135c0e073ad4e2fb8a</string>
</dict>
</plist>